body {
	background-color: #E0FFFF;
}

nav {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	color: #E0FFFF;
	text-decoration: none;
	text-align: center;
	padding: none;
	background-color: orange;
}

#pic {
	display: block;
    	margin: 0 auto;
}

#hey, #description {
	font-family: 'Lato', sans-serif;
	color: orange;
	text-decoration: none;
	text-align: center;
	/*padding: -15px 0;*/
	/*background-color: orange;*/
}

#hey {
	font-size: 35px;
}

#description {
	font-size: 24px;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
	padding: 10px;
}
a {
	color: #E0FFFF;
	text-decoration: none;
}
nav a.selected, nav a:hover {
  color: #00BFFF;
}

#contact {
	color: orange;
}

#contact.selected, #contact:hover {
  color: #00BFFF;
}
